<?xml version="1.0"?>
  
<launch>
  <node name="map_server" pkg="map_server" type="map_server" args="$(find robochair)/config/map.yaml"/>
  <include file="$(find robochair)/launch/amcl_diff.launch" />

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
<!--    <param name="base_global_planner" value="astar_planner/AStarPlanner"/>-->
   <rosparam file="$(find robochair)/config/global_planner_params.yaml" command="load" />
    <rosparam file="$(find robochair)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find robochair)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find robochair)/config/move_base.yaml" command="load" />
    <rosparam file="$(find robochair)/config/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find robochair)/config/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find robochair)/config/base_local_planner_params.yaml" command="load" />
  </node>
</launch>
