<launch>
  <param name="arduino_address" value="192.168.0.10" type="string"/>
  <param name="arduino_port" value="5060" type="int"/>
  <param name="odom_topic" value="odom"/>
  <param name="cmd_vel_topic" value="cmd_vel"/>
  <node type="robochair_node" pkg="robochair" name="robochair" output="screen"/>
  <include file="$(find joy2twist)/launch/joy2twist.launch"/>
  <include file="$(find robochair)/launch/sick_tim551_2050001.launch" />
  <include file="$(find robochair)/launch/mapping_default.launch"/>
  <node type="rqt_rviz" pkg="rqt_rviz" name="rqt_rviz_node" />
</launch>