<launch>
  <rosparam file="$(find robochair)/config/params.yaml" command="load" />
  <arg name="use_keyboard" default="false" />
  <arg name="debug" default="true" />
  <arg name="localization" default="false" />
  <arg name="slam" default="true" />
  <arg name="gmapping" default="false" />

  <!-- Core nodes (Vel and Odom) executes remotely, in the chair" -->
  <include file="$(find robochair)/launch/robochair_core.launch" />
  
  
  <!-- TELEOP MODES Joystick or Keyboard in Terminal /-->
  <group unless="$(arg use_keyboard)">
    <include file="$(find joy2twist)/launch/joy2twist.launch"/>
  </group>
  
  
  <!-- SLAM ALGORITHM - CHOOSE ONE/-->
  <group if="$(arg slam)" >
    <group unless="$(arg gmapping)">
  <!-- 	Hector Slam, laserscan only -->
    <include file="$(find robochair)/launch/mapping_default.launch"/>
    </group>
    <group if="$(arg gmapping)" >
  <!-- Gmapping Slam -->
    <include file="$(find robochair)/launch/gmapping.launch" />
    </group>
  </group>
  
  
  <!--Localization Tools -->
  <group if="$(arg localization)" >
    <!-- Run the map server -->
    <node name="map_server" pkg="map_server" type="map_server" args="$(find robochair)/config/map.yaml"/>
    <!--- Run AMCL -->
    <include file="$(find robochair)/launch/amcl_diff.launch" />
  </group>
  
  <!-- Debug Tools -->
  <group if="$(arg debug)">
    <!--  Register Trajectories  -->
    <include file="$(find robochair)/launch/geotiff_mapper.launch"/>
    <!-- RVIZ FOR VISUALIZATION /-->
    <node type="rqt_rviz" pkg="rqt_rviz" name="rqt_rviz_node" />
  </group>
</launch>